#qstn1 {
    display: block;
    width: fit-content;
}

#qstn2, #qstn3, #qstn4, #qstn5 {
    display: none;
    width: fit-content;
}

/* #show {
    display: block;
    width: fit-content;
}

#hide {
    display: none;
    width: 100px;
} */